
body {
    height: 100%;
    padding: 0;
    margin: 0; 
    font-family: 'Inter', sans-serif;
  
}

#sitecontainer {
    position: relative;
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    z-index: 3;
    width: 4%;
    height: auto;
    top: 7%;
    left: 4%;
}

#logo img {
    width: 100%;
}

@font-face {
    font-family: Druk Wide;
    src: url(Druk\ Wide\ Bold.ttf);
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: whitesmoke;
    opacity: 0.8;
}

.bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: #EC6439;
    margin: 10px auto;

    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;

    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;

    position: fixed;
    right: 4%;
    top: 10%;
    z-index: 3;
}

.middle {
    margin: 0 auto;
}

.button.active .top {
    -webkit-transform: translateY(15px) rotateZ(45deg);
    -moz-transform: translateY(15px) rotateZ(45deg);
    -ms-transform: translateY(15px) rotateZ(45deg);
    -o-transform: translateY(15px) rotateZ(45deg);
    transform: translateY(15px) rotateZ(45deg);
    
}

.button.active .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
    
}

.button.active .middle {
    width: 0;
}

.move-to-left {
    right: 0;
    transition: 2s;
    z-index: 2;
    height: 100%;
    width: 22%;
}

nav {
    padding-top: 30px;
}

.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 200px;
    text-align: center;
}

.sidebar-item {
    margin: 30px;
    opacity: 0;
}

.sidebar-item.active {
    opacity: 1;
}

.sidebar-anchor {
    color: black;
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    position: relative;

}

.sidebar-anchor:hover {
    color: #EC6439
}

.sidebar-mini {
    color: black;
    text-decoration: none;
    font-size: 1.3em;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
}

.sidebar-mini:hover {
    color: #EC6439
}

@media screen and (max-width: 1240px) {
    
    .button {
        right: 7%;
        top: 5%;
    }
    
    .move-to-left {
        width: 32%;
    }
}